<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>头部</string>
		<key>goodList</key>
		<array>
			<string>健忘</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肝脏</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肺部</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>胃部</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>心脏</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>大肠</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>牙齿</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>肾脏</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>神经</string>
		<key>goodList</key>
		<array>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
			<string>9</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>眼睛</string>
		<key>goodList</key>
		<array>
			<string>4</string>
			<string>3</string>
			<string>2</string>
			<string>1</string>
		</array>
	</dict>
</array>
</plist>
